@model Skill_Code_First_Entity.Models.Siniflar.Yetenekler
@{
    ViewBag.Title = "YetenekGuncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">


  


    <div>
        <label>Yetenek Açıklama</label>
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    </div>

    <div style="margin-top:20px">
        <label>Seviye</label>
        @Html.TextBoxFor(x => x.Seviye, new { @class = "form-control" })
    </div>

    <div style="margin-top:20px">
        <button class="btn btn-warning">Güncelle</button>
    </div>




</form>

